.bannerGallery{
	overflow: hidden;
}

.bannerGallery, .imageContainer  {
	box-shadow: 1px 1px 18px rgba(0, 0, 0, 0.61);
}

.bannerImage {
	overflow: hidden;
}

.bannerLogo, .navbar-brand {
	font-family: 'Fugaz One', cursive;
}

.bannerPreLogo, .bannerSubtext, .quoteDivs, .iconP, .codeText, .fakerBenefits, .contactH, label {
	font-family: 'Teko', sans-serif;
}

.bannerSubtext {
	color: white;
	text-align: center;
	margin-top: 160px;
	text-shadow: 8px 4px 11px black;
	font-size: 35px;
}

.bannerText {
	color: white;
	text-align: center;
	font-size: 56px;
	text-shadow: 7px 5px 14px black;
}

.bgWhite {
	background-color: #233746;
}

body {
	background: url("../img/codeBack.jpg");
}

.charCircle {
	width: 220px;
    height: 220px;
    background: white;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 160px;
    box-shadow: 1px 1px 20px black;
    margin: auto;
}

.charCircle:hover {
	animation: float 2s ease-in-out infinite;
}

.codeH3 {
	font-size: 55px;
}

.codeText {
    position: absolute;
    top: 50px;
    width: 45%;
    right: 50px;
    text-align: center;
    color: rgba(255, 255, 255, 0.63);
}

.company {
	background: blue;
	width: 100%;
}

.contactDiv {
	width: 500px;
	margin: auto;
}

.contactH {
	color: white;
	text-align: center;
	margin-top: 25px;
}

.containerBanner {
	position: relative;
	overflow: hidden;
}

.fakerBenefits {
	text-align: center;
	background: #0c2136;
	color: white;
	padding: 15px;
	font-size: 40px;
}

.iconP {
	color: rgba(68, 68, 68, 0.63);
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: 28px;
    line-height: 30px;
    text-shadow: none;
}

.iconRow {
    width: 75%;
    margin: 0 auto;
    padding: 35px 0;
}

.imageContainer {
	overflow: hidden;
}

label {
	color: white;
	font-size: 25px;
	margin-bottom: -5px;
}

.navbar {
    margin-bottom: 0;
    background: rgba(255, 255, 255, 0.06);
    position: fixed;
    border: none;
    top: 0;
    z-index: 1;
    width: 100%;
}

.navbar-light .navbar-brand {
	color: white;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,250,250, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.43);
}

.navbar-light .navbar-nav .nav-link {
	color: white;
    text-align: center;
}

.noPadMarg {
	padding: 0;
	margin: 0;
}

.pageicons {
	margin: auto;
	display: block;
	padding-top: 5px;
}

.quoteDivs {
	text-align: center;
	color: rgba(255, 255, 255, 0.63);
	text-shadow: 5px 4px 10px black;
}

.quoteName {
    margin-top: 110px;
}

.quoteRow {
	margin: 45px 0;
	padding: 55px;
}

.slick-prev {
	left: 0;
    z-index: 1;
}

.slick-next {
	right: 0;
}

.videoTextOverlay {
    position: absolute;
    top: 30vh;
    width: 100%;
}

@keyframes float {
  0% {
    /*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
    transform: translatey(0px);
  }
  50% {
    /*box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);*/
    transform: translatey(-5px);
  }
  100% {
    /*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
    transform: translatey(0px);
  }
}

@media screen and (max-width: 1000px) {
	.charCircle {
		width: 180px;
	    height: 180px;
	}


	.codeH3 {
		width: 65%;
		margin: 35px auto 0;
		font-size: 50px;
	}

	.codeImg {
		filter: blur(7px);
		opacity: 0.8;
	}

	.codeText {
		width: 100%;
   	 	right: 0;
	}

	.iconP {
		font-size: 27px;
	}

	.pageicons {
		width: 90px;
	}
}

@media screen and (max-width: 767px) {
	.charCircle {
		width: 250px;
		height: 250px;
		margin: 10px auto;
	}

	.codeH3 {
		font-size: 45px;
		margin: 10px auto 0;
	}
	
	.iconP {
		font-size: 30px;
	}

	.pageicons {
		width: 150px;
	}

}

@media screen and (max-width: 500px) {
	.charCircle {
		width: 200px;
		height: 200px;
		margin: 10px auto;
	}

	.codeH3 {
		font-size: 35px;
	}

	
	.iconP {
		font-size: 30px;
	}

	.pageicons {
		width: 100px;
	}


}